//Colors
$off-black: #1B1818;
$plain-white: #FFFFFF;
$off-white: #D7A6A6;
$dark-dark-background: #302A2A;
$dark-background: #4A3E3E;
$light-dark-background: #665454;
$red: #F54574;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;